@import '../../styles/constants.module.scss';

:export {
  md: $md;
  imagePlaceholderBackground: $image-placeholder-background;
}

@media (max-width: $md) {
  .root {
    position: relative;
    left: $container-md-padding * -1;
    width: calc(100% + $container-md-padding * 2);
  }
}

.title {
  margin: 36px 0px 16px;
}

.image {
  display: flex;
  align-items: flex-end;
  margin: 0px 16px 0px 0px;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
}
