@import '../../../styles/constants.module.scss';

:export {
  imagePlaceholderBackground: $image-placeholder-background;
}

h2.title {
  display: flex;
  align-content: center;
  margin: 32px 0px 16px;
  color: #15726c;

  span {
    display: flex;
    align-content: center;
    margin: 0px 8px 0px 0px;
  }
}

.card {
  margin: 0px $carousel-padding 0px 0px;
  border-radius: 4px;
  overflow: hidden;

  & > div {
    &:first-child {
      height: 170px;
    }

    &:last-child {
      padding: 12px 16px 20px;
      font-size: 12px;
      background: #ffffff;

      & > div:not(:last-child) {
        margin: 0px 0px 4px;
      }

      h4:global(.ant-typography) {
        margin: 0px 0px 12px;
      }
    }
  }
}

.more {
  display: grid;

  :global(.ant-btn) {
    margin: 0px auto;
    min-width: 180px;
  }

  &:not(:last-child) {
    padding: 0px 0px 44px;
    border-bottom: 8px dotted #ffffff;
  }
}
