$lg: 992px;
$md: 768px;
$container-padding: 120px;
$container-lg-padding: 5%;
$container-md-padding: 16px;
$image-placeholder-background: #c0c0c0;
$carousel-padding: 16px;

:export {
  md: $md;
  carouselPadding: $carousel-padding;
}
