@import '../../../styles/constants.module.scss';

.root {
  display: flex;
  padding: 56px 0px 0px;

  @media (max-width: $md) {
    display: block;
  }
}

h1.title {
  margin: 12px 0px 0px;
}

.buttons {
  margin: 8px 0px 0px;

  :global(.ant-btn) {
    margin: 8px 8px 0px 0px;
    display: inline-flex;
    align-items: center;

    svg {
      margin: 0px 0px 0px 20px;
    }
  }
}

.pictures {
  padding: 0px 0px 0px 5%;
  width: 100%;

  @media (max-width: $md) {
    margin: 24px 0px 0px;
    padding: 0px;
    width: 100%;
  }

  img {
    width: 100%;
  }
}
